<h2>Create a New Herb</h2>

<%= form_with model: @herb do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name%>
  <br>
  <br>
  <%= form.label :watered %>
  <%= form.text_field :watered %>
  <br>
  <br>
  <%= form.submit 'Add herb' %>
<% end %>
<br>
<%= link_to 'Back to All Herbs', herbs_path %>
